/* src/App.css */

/* Сбрасываем стандартные отступы и границы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для body */
body {
  font-family: Arial, sans-serif;
  height: 100%; /* Страница должна занимать всю высоту */
  background-color: #000;  /* Черный фон для тела */
}

/* Стили для контейнера */
.container {
  width: 100vw;  /* Ширина на весь экран */
  height: 100vh; /* Высота на весь экран */
  display: flex;  /* Flexbox для центрирования */
  justify-content: center;  /* Центрирование по горизонтали */
  align-items: center;  /* Центрирование по вертикали */
  background: linear-gradient(135deg, #040435, #071d47);  /* Градиентный фон от темно-синего к синему */
  background-size: cover;  /* Убираем повторение фона */
  background-position: center; /* Градиент по центру */
}

/* Стили для шарика */
.ball {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #b0b0b0, #595959); /* Металлический радиальный градиент */
  border-radius: 50%;  /* Круглая форма */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);  /* Легкая тень для эффекта объема */
  position: relative;  /* Позиционирование внутри контейнера */
  transition: 0.3s ease;
  background: radial-gradient(circle,  #da3737),#353535,; /* Круговой градиент от серого к темно-серому */
}
.ball:focus {
  outline: none;
  border: none; /* Убираем рамку */
}

/* Header.css */
.header {
  display: flex;
  justify-content: space-between; /* Распределяем элементы по сторонам */
  align-items: center; /* Центрируем по вертикали */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  color: white; /* Белый цвет текста */
  padding: 10px 20px;
  position: fixed; /* Закрепляем шапку вверху */
  top: 0;
  left: 0;
  width: 100%; /* Ширина на весь экран */
  z-index: 1000; /* Обеспечиваем, чтобы шапка была поверх других элементов */
}
.username, .score {
  font-size: 16px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание текста */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .ball {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .ball {
    width: 60px;
    height: 60px;
  }
}
